.wrapper {
  background-color: var(--color-white);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.logo img {
  height: 50px;
}

.bg_icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
}
.bg_icon img {
  width: 3rem;
}

@media screen and (max-width: 1080px) {
  .bg_icon {
    display: none;
  }
}
